.git
.gitignore

__pycache__/
*.pyc
*.pyo
*.pyd

.venv/
.env

.pytest_cache/
.ruff_cache/
.mypy_cache/

data/
database/

*.db
*.sqlite
*.sqlite3

.vscode/
.idea/

node_modules/

Dockerfile
docker-compose.yml
docker-compose.yaml